# Hello, World!

In [ ]:
print("Hello, World!")

# Note: the last value in a notebook cell is usually displayed automatically as part of its output

# Comments

In [ ]:
# this is a comment on a line by itself
x = 1      # this is an end-of-line comment
# x = 2    # not executed because it starts with '#'
x

In [ ]:
"""
You can use triple quotes to create blocks with 
multiple lines to effectively comment them out.
This is sort of a side effect of the other 
purpose of triple quotes, which is to create 
multi-line strings.

x = 3
"""
x

# Outputs

In [ ]:
# Simple output
print('Hello')

In [ ]:
# display() is specific to notebooks and can do more formatting when outputting things like pandas DataFrames
display('Hello again')

# Variables

In [ ]:
name = 'Gregg'
name

In [ ]:
x = 1
x

## Revisit outputs with variables and interpolation

In [ ]:
print(name)

In [ ]:
name = 'Gregg'
# use an "f-string" to interpolate a value
print(f'Hello, {name}')

# Input from the keyboard into a variable

In [ ]:
name = input()

In [ ]:
print(f'Hello, {name}')

# Indentation

In [ ]:
# What do you think 'last_name' will be set to afterward?

# set up variables
first_name = 'Gregg'
last_name = 'Archer'
change_first = False

if change_first:
	y = 2   # this is added here to show blocks can have more than 1 line
	first_name = 'Bob'   # this is conditionally executed because it's indented
last_name = 'Smith'      # this is always executed

last_name

# Data Types
## Note that Python is a dynamically-typed language

## Strings

In [ ]:
name = 'Bob'
# you can use type() to inspect the type of a variable
print(type(name))

In [ ]:
# nesting quotes
quote1 = 'I can nest "double quotes" within single quotes'

quote2 = "And I can nest 'single quotes' within double quotes"

quote3 = """
Or we can have
multi-line strings
with triple quotes
"""

## Numbers

In [ ]:
# integer
i = 42
i

In [ ]:
# float
pi = 3.14
pi

## Booleans

In [ ]:
positive = True
negative = False
print(negative)

# Operators

## Arithmetic

In [ ]:
pi = 3.14159            # approximately
radius = input()
radius = int(radius)    # convert the input string to an integer
area = pi * (radius ** 2)
print(f'The area of the circle is {area}')

## Comparison

In [ ]:
print(1 < 2)

In [ ]:
1 != 2

In [ ]:
a = 10
b = 10.0
a == b

## Logical / Boolean

In [ ]:
positive = True
negative = False

print(positive)
print(not positive)

In [ ]:
positive and negative

In [ ]:
positive or negative

In [ ]:
positive and not negative

# Control Structures

## if-then conditionals

In [ ]:
x = 0
if x == 0:
    name = 'Bob'
else:
    name = 'Lisa'
name

In [ ]:
x = 1
if x == 0:
    name = 'Bob'
elif x == 1:
    name = 'Lisa'
else:
    name = 'Pat'
name

In [ ]:
x = 2
if x == 0:
    name = 'Bob'
elif x == 1:
    name = 'Lisa'
else:
    name = 'Pat'
name

## for loops

In [ ]:
for i in range(5):
    print(i)

In [ ]:
names = ['Bob', 'Lisa', 'Pat']   # this is a Python list, much like an array
for name in names:
    print(name)

## while loops

In [ ]:
counter = 0
while counter < 10:
    print(counter)
    counter += 1      # this increments counter "in place" by 1 each time

In [ ]:
counter = 0
while counter < 10:
    print(counter)
    if counter % 2 == 1:    # this is the modulo operator, returning the remainder after dividing
        break         # break terminates the innermost loop
    counter += 1      # this increments counter "in place" by 1 each time